<!DOCTYPE html>
<html lang="fr" xmlns:v-on="http://www.w3.org/1999/xhtml">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Business Frontpage - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/business-frontpage.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

  </head>

  <body>
    <div id="orphee">
      <!-- Navigation -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
          <a class="navbar-brand" href="#">Orphee</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Accueil
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" v-on:click="openPopUp('popup-log')">Connexion</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" v-on:click="openPopUp('popup-sub')">Inscription</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <!-- Header with Background Image -->
      <header class="business-header">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <h1 class="display-3 text-center text-white mt-4">Créez des ouvrages musicaux en quelques minutes</h1>
            </div>
          </div>
        </div>
      </header>

      <!-- Page Content -->
      <div class="container">

        <!-- /.row -->

        <div class="row">
          <div class="col-sm-4 my-4">
            <div class="card">
              <img class="card-img-top" src="http://placehold.it/300x200" alt="">
              <div class="card-body">
                <h4 class="card-title">Créez</h4>
                <p class="card-text">Créez vos fiches descriptives artistes.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 my-4">
            <div class="card">
              <img class="card-img-top" src="http://placehold.it/300x200" alt="">
              <div class="card-body">
                <h4 class="card-title">Assemblez</h4>
                <p class="card-text">Assemblez vos fiches dans un ouvrage préalablement mis en page.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 my-4">
            <div class="card">
              <img class="card-img-top" src="http://placehold.it/300x200" alt="">
              <div class="card-body">
                <h4 class="card-title">Imprimez / Téléchargez</h4>
                <p class="card-text">Imprimez / téléchargez votre ouvrage.</p>
              </div>
            </div>
          </div>

        </div>
        <!-- /.row -->

        <div class="black-bg-opacity hide" v-on:click="closePopUp()"></div>
        <div class="container popup-log hide orphee-bloc">
          <div class="row">
            <div class="col-md-12"><h2>Connectez-vous</h2></div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <form>
                <div class="form-group">
                  <label for="co_email">Votre email</label>
                  <input type="email" class="form-control orphee-btn" id="co_email" aria-describedby="emailHelp" placeholder="">
                </div>
                <div class="form-group">
                  <label for="co_mdp">Mot de passe</label>
                  <input type="password" class="form-control orphee-btn" id="co_mdp" placeholder="">
                </div>
                <button type="submit" class="btn orphee-btn">Se connecter</button>
                <p >Vous n'avez pas encore de compte ? <a href="#" v-on:click="openPopUp('popup-sub')" class="orphee-link">Créez un compte en cliquant ici</a></p>
              </form>
            </div>
          </div>
        </div>
        <div class="container popup-sub hide orphee-bloc">
          <div class="row">
            <div class="col-md-12"><h2>Créer votre compte</h2></div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <form>
                <div class="form-group">
                  <label for="insc_name">Votre nom</label>
                  <input type="email" class="form-control orphee-btn" id="insc_name" aria-describedby="emailHelp" placeholder="">
                </div>
                <div class="form-group">
                  <label for="insc_email">Votre email</label>
                  <input type="email" class="form-control orphee-btn" id="insc_email" aria-describedby="emailHelp" placeholder="">
                </div>
                <div class="form-group">
                  <label for="insc_mdp_1">Mot de passe</label>
                  <input type="password" class="form-control orphee-btn" id="insc_mdp_1" placeholder="">
                </div>
                <div class="form-group">
                  <label for="insc_mdp_2">Entrez de nouveau votre mot de passe</label>
                  <input type="password" class="form-control orphee-btn" id="insc_mdp_2" placeholder="">
                </div>
                <button type="submit" class="btn btn-primary orphee-btn">Se connecter</button>
                <p>Vous avez déjà un compte ? <a href="#" v-on:click="openPopUp('popup-log')" class="orphee-link">Connectez-vous en cliquant ici</a></p>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- /.container -->

      <!-- Footer -->
      <footer class="py-5 bg-dark">
        <div class="container">
          <p class="m-0 text-center text-white">Copyright &copy; Orphee 2018</p>
        </div>
        <!-- /.container -->
      </footer>
  </div>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <script>
      new Vue({
          el: '#orphee',
          data: {

          },
          methods: {
              closePopUp: function () {
                  document.getElementsByClassName('show')[0].classList.add("hide");
                  document.getElementsByClassName('show')[0].classList.remove("show");      
                  document.getElementsByClassName('show')[0].classList.add("hide");
                  document.getElementsByClassName('show')[0].classList.remove("show");      
              },
              openPopUp: function (className) {
                  if(document.getElementsByClassName('show')[0] != undefined) {
                    this.closePopUp();
                  }
                  document.getElementsByClassName(className)[0].classList.add("show");
                  document.getElementsByClassName(className)[0].classList.remove("hide");
                  document.getElementsByClassName('black-bg-opacity')[0].classList.add("show");
                  document.getElementsByClassName('black-bg-opacity')[0].classList.remove("hide");      
              }
          }
      });
  </script>

  </body>

</html>
