a{
	text-decoration:none;
}
footer{clear:both;}
.action{
	position:relative;
	top:-160px;
}
.action div{
	background-image:url(../img/actions.png);
	height:30px;
}
.action .modification{
	width:46px;
	float:left;
	margin-left:-10px;
}
.action .delete, .action .addSheet{
	width:30px;
	background-position:60px top;
	float:right;
	margin-right:-10px;
}
.action .addSheet{
	background-position:30px top;
}
.sheet{
	width:18%;
	max-width:100px;
	margin:1%;
}
.sheet h3{
	font-size:0.9em;
}
.thumb{
	height:150px;
	overflow:hidden;
	background-color:#dee;
}
.thumb img{
	height:100%;
}
.bloc, .book{clear:left;}
.bloc .sheet{float:left;}
.btnNew, input[type="submit"]{
	clear:left;
	border-radius:20px;
	padding:10px;
	min-width:20%;
	max-width:80%;
	margin:20px auto;
	text-align:center;
	border:2px solid #8dcac7;
}
.btnNew:hover, .btnNew:hover a, input[type="submit"]:hover{
	background-color:#8dcac7;
	color:#fff;
}
.btnNew a, input[type="submit"]{
	color:#8dcac7;
	font-size:1.4em;
}
.btnNew a{
	display:block;
}
.book{
	border-top:1px solid #444;
	background-color:#eee;
}
