#logo img {
	max-height:120px;
	display: block;
	float:right;
}

#sous-titre {
	float: left; 
	
}

#artisteimg { 
  font-family: Open Sans, sans-serif; 
  margin: 2rem; 
}
#artisteimg p { 
  line-height: 1.8; 
}
#artisteimg .curve { 
  width: 33%; height: auto;
  min-width: 150px;
  float: left;
  margin-right:2rem; 
  border-radius: 50%;
  -webkit-shape-outside:circle();
  shape-outside:circle();
}
#descriptionartist p{
  padding-top: 50px;
}

#informationsG p{
     text-align: center; 
	}



.extraitaudio1 {
	margin-top: -10%;
	margin-left: 150px;
}

.extraitaudio1 img{
	margin-top: 10%;

}

.image_musique{
	clear:both;
}
#extraitMusique img{
	width:50px;
}