<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8" />
		<title>%Nom%</title>
		<link href="green.css" rel="stylesheet" type="text/css" />
        
	</head>
	<body id="white" >
        <header id="header">
            <img src="logo.png" alt="logo" />	
		</header>
        
		<div id="hero">
			<img src="%Couverture%" alt="image de couverture"/>
			</div>
		<div id="blocInfo">
			<div id="Portrait">
				<img id="Portrait1" src="%Portrait%" alt="%Nom%" />
			</div>
				
			 <div id="informationsG">
				 <div id="info">
				<p >Nom: %Nom%<br/>
				Nationalité  :%nationnalite%<br/>
				Genre musical : %genre%</p>
			</div>
		 </div>
</div>
	<div id="rectangle">
		<div id="placement" >
				  <button id="musique" onclick="changeScreen(false)">Musique</button >
				 <button id="video" onclick="changeScreen(true)">Video</button >
                    
           
			
		</div>
		<div id="Generalites">
			<p >%Citation% </p>
			<p >%Description% </p>
		</div>
		<div id="extraitMusique">
			<table>
			%musique%
		</table>
		</div>
		 %Video%
		
				
	</div>
		
		
     <script>
		var video = document.getElementById("videoTOTO");
		var tableMusique=document.getElementById("extraitMusique");
		function changeScreen( showVideo){
			if(showVideo){
			console.log("show video");
				tableMusique.style.display="none";
				video.style.display="block";
			}else{
				tableMusique.style.display="block";
				video.style.display="none";
			}
		}
	 </script>
	</body>
</html>
